#app{
    display: grid;
    grid-template-columns:1fr, 1fr, 1fr ;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
    "hdr hdr hdr"
    "frm frm frm"
    "frm frm frm"
    "frm frm frm"
    "btn btn btn"
    "div div div"
    "div div div"
    "div div div"
    "div div div"
    "ftr ftr ftr"
    ;

}

body {
 
    background: lightblue;
}

#frm-line{
    grid-area: frm;

}

#btn-line{
    grid-area: btn;

}

#list{
    display: grid;
    grid-area: div;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 4rem;
    padding-right: 40px;
}

#footer{
    grid-area: ftr;

}

img {
    width : 70%;
    height: 70%;
}

h1 {
    font-family: cursive;
    font-size: 60px;
    grid-area: hdr;
}

#footer{
    font-size: 30px;
    display: grid;
    grid-template-columns: 1 fr
    
}

@media(max-width: 1000px){
    #list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 1rem;
      }
   

    #app{  display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: 
    "hdr hdr"
    "frm frm"
    "frm frm"
    "frm frm"
    "btn btn"
    "img img"
    "img img"
    "img img"
    "ftr ftr"
    ;}
}

@media(max-width: 500px){
    #list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 1rem;
      }
     #app{
        display: grid;
        grid-template-columns: 1, 1fr;
      }
      /* #nav{
        height:100%;
        font-size: 25px;
      }
      #header{  
        height: 100%;
        font-size: 50px;
    }  */
}